@import '~src/mat-theme.scss';

.logo {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 150px;
  background-image: url(/././assets/img/logo-big-w.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.front-text {
  font-family: mat-font-family($custom-typography);
  text-align: center;
  margin: 0 auto;
  color: white;
}

.front-page {
  background-image: url(/././assets/img/trianglify.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  button {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
  }
.justify-content-evenly {
	justify-content: space-evenly !important;
}